<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.james.wodrecordapp">

    <uses-permission android:name="android.permission.CAMERA" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name="com.example.james.wodrecordapp.ControlApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.james.wodrecordapp.ui.splash.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.james.wodrecordapp.ui.main.ui.MainActivity" />

        <activity
            android:name="com.example.james.wodrecordapp.ui.scan.OcrCaptureActivity"
            android:label="Scan Wod"
            android:launchMode="singleTop"
            android:parentActivityName="com.example.james.wodrecordapp.ui.main.ui.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.james.wodrecordapp.ui.main.ui.MainActivity" />
        </activity>
        <activity
            android:name="com.example.james.wodrecordapp.ui.progress.ViewProgressActivity"
            android:label="@string/lbl_view_progress"
            android:launchMode="singleTop"
            android:parentActivityName="com.example.james.wodrecordapp.ui.main.ui.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.james.wodrecordapp.ui.main.ui.MainActivity" />
        </activity>
    </application>

</manifest>