<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.james.realmbinding">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".ControlApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".view.activites.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".view.activites.MainActivity" />

        <activity
            android:name=".scan.OcrCaptureActivity"
            android:label="Scan Wod"
            android:launchMode="singleTop"
            android:parentActivityName=".view.activites.MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.james.realmbinding.view.activites.MainActivity" />

        </activity>

        <activity
            android:name=".workout.RecordWOD"
            android:label="@string/lbl_record_a_wod"
            android:launchMode="singleTop"
            android:parentActivityName=".view.activites.MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.james.realmbinding.view.activites.MainActivity" />

        </activity>

        <activity
            android:name=".progress.ViewProgress"
            android:label="@string/lbl_view_progress"
            android:launchMode="singleTop"
            android:parentActivityName=".view.activites.MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.james.realmbinding.view.activites.MainActivity" />
        </activity>

    </application>

</manifest>
